#notebook==6.4.10
jupyterlab==3.4.7
jupyter_kernel_gateway==2.5.1
dask<2.7.0; python_version < "3.6"
dask==2.8.1; python_version >= "3.6"
distributed<2.7.0; python_version < "3.6"
distributed==2.8.1; python_version >= "3.6"
tornado<6.0.0; python_version < "3.6"
tornado>6.0.3; python_version >= "3.6"
jedi
